.App {
  text-align: center;
}
table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* .list th {
  padding-top: 12px;
  padding-bottom: 12px;
}*/
.list {
  margin-left: auto;
  margin-right: auto;
}
